<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

</head>
<body>


<div id="liqpay_checkout"></div>
<script>

    window.LiqPayCheckoutCallback = function () {
        LiqPayCheckout.init({
            data: "{{ data }}",
            signature: "{{ signature }}",
            embedTo: "#liqpay_checkout",
            mode: "embed" // embed || popup,
        }).on("liqpay.callback", function (data) {
            alert(1)
            alert(data.status);
            alert(JSON.stringify(data));
        }).on("liqpay.ready", function (data) {
            alert(2)
            // ready
        }).on("liqpay.close", function (data) {
            alert(3)
            // close
        }).on("liqpay.fail", function (d) {
            alert(4)
        });
    };
</script>
<script src="//static.liqpay.ua/libjs/checkout.js"></script>
</body>
</html>